{# templates/tp/html.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <p><strong>Bonjour</strong>,<br>mon professeur s'appelle <em style="color: blue;">Cyril Bazin </em>et il est trés <em style="color: green;"> gentil </em> parce que il met que des <em style="color: red;"><b>20/20</b></em></p>
{% endblock %}
